source https://api.nuget.org/v3/index.json

nuget FSharp.Core 6.0.1
nuget FSharp.Literate
nuget Giraffe 6.0.0-alpha-2
nuget LigerShark.WebOptimizer.Core
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.UserSecrets
# nuget FSharp.SystemTextJson  #  remember this
nuget Npgsql
nuget FSlugify


source https://www.myget.org/F/secret-feed-lamp/api/v3/index.json
nuget Rezoom.SQL.Provider 1.0.3
