source https://api.nuget.org/v3/index.json

nuget FSharp.Core redirects:force
nuget FSharp.Formatting
nuget Giraffe
# nuget FSharp.SystemTextJson  #  remember this
nuget Microsoft.AspNetCore.App
nuget Newtonsoft.Json

