span.s {
  color: #e0e268;
}
span.pf {
  color: #e0c57f;
}
span.e {
  color: #ea8675;
}

span.i {
  color: #d1d1d1;
}
span.t {
  color: #43aec6;
}
span.f {
  color: #e1e1e1;
}
span.p {
  color: #4ec9b0;
}

span.k {
  color: #fab11d;
}
span.c {
  color: #808080;
}
span.o {
  color: #af75c1;
}
span.n {
  color: #96c71d;
}
span.l {
  color: #80b0b0;
}
span.v {
  color: #d1d1d1;
  font-weight: bold;
}
span.inactive {
  color: #808080;
}
span.prep {
  color: #af75c1;
}
span.fsi {
  color: #808080;
}

span.omitted {
  background: #3c4e52;
  border-radius: 5px;
  color: #808080;
  padding: 0px 0px 1px 0px;
}

div.tip {
  background: #475b5f;
  border-radius: 4px;
  font: 12pt "Droid Sans", arial, sans-serif;
  padding: 6px 8px 6px 8px;
  display: none;
  color: #d1d1d1;
  z-index: 1;
  pointer-events: none;
}

table.pre {
  width: var(--contentWidth);
}

table.pre pre {
  padding: 0px;
  margin: 0px;
  border: none;
}

table.pre,
pre.fssnip,
pre {
  border: 1px solid #d8d8d8;
  border-collapse: separate;
  white-space: pre;
  font: 12pt "Lucida Console", monaco, monospace;
  line-height: 16pt;
  width: 90%;
  margin: 10px 20px 20px 20px;
  background-color: #212d30;
  padding: 10px;
  border-radius: 5px;
  color: #d1d1d1;
}
pre.fssnip code {
  font: 12pt "Lucida Console", monaco, monospace;
  line-height: 16pt;
}

table.pre pre {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  width: 100%;
}

table.pre td {
  padding: 0px;
  white-space: normal;
  margin: 0px;
}

table.pre td.lines {
  width: 30px;
}

pre {
  word-wrap: inherit;
}

/*///////////////////////////////////////////////////////////////////////////////*/

:root {
  --accentColor: #b8ca28;
  --backgroundGreen: #009587;
  --highlightGreen: #007d72;
  --fontDark: #333;
  --fontLight: #fff;
  --backgroundContentColor: #f2f2f2;
  --backgroundMainColor: #eee;

  --serifFontFamily: Bookman, serif;
  --sansSerifFontFamily: Arial, sans-serif;

  --marginSize: 8px;

  --contentWidth: 80rem;
}

html {
  overflow-y: scroll;
  font-family: var(--sansSerifFontFamily);
}

.Main-body {
  background: var(--backgroundMainColor);
  box-sizing: border-box;
}

.Main-header {
  position: fixed;
  color: var(--backgroundContentColor);

  display: flex;
  justify-content: space-between;
  width: calc(100% - var(--marginSize));

  transition: background-color 0.5s;
  transition: color 0.1s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  background: transparent;

  margin-left: -8px;
  padding: var(--marginSize);
  font-size: 20pt;
  font-weight: 700;
}

.Main-header.is-fixed {
  position: fixed;
  top: -47px;
  transition: transform 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
}

.Main-header.is-visible {
  transform: translate3d(0, 100%, 0);
  color: var(--fontDark);
}

.Main-headerNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  font-weight: normal;
  padding-right: var(--marginSize);
}

.Main-headerLink {
  color: inherit;
}

.Main-titleContainer {
  margin-top: calc(-1 * var(--marginSize));
  margin-left: calc(-1 * var(--marginSize));
  margin-right: calc(-1 * var(--marginSize));
  margin-bottom: 2rem;
  display: flex;
  padding: 7rem 0;
}

#headerBackground {
  position: absolute;
  top: 0;
  z-index: -54654654654;

  width: 100%;
  background-color: #2c2e43;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  height: 300px;
  margin-left: calc(-1 * var(--marginSize));
  margin-right: calc(-1 * var(--marginSize));
}

.Main-title {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--backgroundContentColor);
}

.Main-section {
  margin: auto;
}

.Main-postTitle {
  font-size: 42pt;
  font-weight: 700;
  max-width: 80rem;
}

.PostContents {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--contentWidth);
}

.PostContents > h1 > a {
  font-size: 24pt;
}

.PostContents > p {
  font-size: 18pt;
  line-height: 26pt;
  font-family: var(--serifFontFamily);
}

.PostContents > p > img {
    display: block;
    margin: auto;
}

a {
  text-decoration: none;
}

.PostContents > h1 > a:link {
  color: inherit;
  cursor: auto;
}

.PostContents > h1 > a:visited {
  color: inherit;
  cursor: auto;
}

.PostContents > h3 > a:link {
  color: inherit;
  cursor: auto;
}

.PostContents > h3 > a:visited {
  color: inherit;
  cursor: auto;
}

.About-socialList {
  list-style: none;
  padding: 0;
}

.About-socialList > a:link {
  color: inherit;
  cursor: pointer;
}

.About-socialList > a:visited {
  color: inherit;
}

.About-socialLink {
  display: flex;
  line-height: 26pt;
  font-size: 16pt;
  margin-bottom: 0.5rem;
}

.About-socialLink > i {
  margin-right: 1rem;
}

.LatestPosts-entry {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: 0fr 1fr;
    margin-bottom: 5rem;
}

.LatestPosts-entryTitle {
    grid-column: 1;
    grid-row: 1;

    font-size: 16pt;
}

.LatestPosts-entryDate {
    grid-column: 3;
    grid-row: 1;
    font-weight: normal;
    font-size: 12pt;
}

.LatestPosts-entryDescription {
    grid-column: 1;
    grid-row: 2;

    font-size: 14pt;
    line-height: 20pt;
}
